@charset "utf-8";

/* import */
@import url('./@resource/css/var.css');
@import url('./@resource/css/font.css');
@import url('./@resource/css/reset.css');

#wrap .section,
#wrap .section.visual .visual-wrap{
	height: 100vh; /* 브라우저 체크용 */
	height: calc(var(--vh, 1vh) * 100); /* ios vh */
}

/* visual */
#wrap .section.visual{position: relative;}
#wrap .section.visual .visual-wrap{position: relative; width: 100%; padding: var(--pd);}
#wrap .section.visual .visual-wrap .text-wrap{border: 1px solid black; width: 100%; height: 100%;
	display: flex; flex-direction: column; justify-content: flex-end;
}
#wrap .visual-wrap .text-wrap .title{font-size: var(--titleFont);}
#wrap .visual-wrap .text-wrap .text{}

@media all and (min-width:1921px) {
	
}
@media all and (min-width:1181px) and (max-width:1920px) {
	
}
@media all and (min-width:768px) and (max-width:1180px) {

}
@media all and (max-width:767px) {

}


/* gallery */
.section.gallery{position: relative; background: rgba(0,0,0,0.3); color: #fff;}
.section.gallery,
.section.gallery .cc{
	display: flex;
}
.section.gallery p{
	font-size: 40px;
	width: 600px;
}