@charset "utf-8";

/* import */
@import url('./@resource/css/var.css');
@import url('./@resource/css/font.css');
@import url('./@resource/css/reset.css');
@import url('./@resource/css/common.css');

body{
	overscroll-behavior: none;
}

#wrap .section,
#wrap .section.visual .visual-wrap{
	height: 100vh; /* 브라우저 체크용 */
	height: calc(var(--vh, 1vh) * 100); /* ios vh */
}

/* visual */
#wrap .section.visual{position: relative;}
#wrap .section.visual .visual-wrap{position: relative; width: 100%; padding: var(--pd);}
#wrap .section.visual .visual-wrap .text-wrap{border: 1px solid black; width: 100%; height: 100%;
	display: flex; flex-direction: column; justify-content: flex-end;
}
#wrap .visual-wrap .text-wrap .title{font-size: var(--titleFont);}
#wrap .visual-wrap .text-wrap .text{}

@media all and (min-width:1921px) {
	
}
@media all and (min-width:1181px) and (max-width:1920px) {
	
}
@media all and (min-width:768px) and (max-width:1180px) {

}
@media all and (max-width:767px) {

}


/* gallery */
#wrap .section.gallery{ position: relative; width: 100%; background-color: rgba(0,0,0,0.5);}
#wrap .section.gallery .sticky-elem{overflow: hidden; position: sticky; top: 0; left: 0; bottom: 0; height: 100vh; height: calc(var(--vh, 1vh) * 100);
	display: flex; align-items: center; justify-content: flex-start; 
}
#wrap .section.gallery .gutter,
#wrap .section.gallery ul{width: 100%; height: 100%; display: -webkit-box;display: -ms-flexbox;display: flex;}
#wrap .section.gallery ul{
	-webkit-box-align: center; -ms-flex-align: center; align-items: center; 
	-webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start;
}
#wrap .section.gallery ul li{min-width: 50vw;}
#wrap .section.gallery .item.gallery .title{font-size: 40px; font-weight: 600;}
#wrap .section.gallery .item.gallery .title + .text{padding-top: 15px;}




.section.cc{position: relative; background: rgba(0,0,0,0.5); }
.section.cc .inner{position: sticky; top: 0; left: 0; height: 100vh;
display: flex; align-items: center; }
.section.cc .list-wrap{ height: 100%;
	display: flex; align-items: center; justify-content: flex-start;
}
.section.cc .list-wrap li{min-width: 55vw;}