@charset "utf-8";

/* import */
@import url('./@resource/css/var.css');
@import url('./@resource/css/font.css');
@import url('./@resource/css/reset.css');

/* content */
#wrap .visual-wrap{position: relative; width: 100%; height: 100vh; padding: 30px;}
#wrap .visual-wrap .text-wrap{border: 1px solid black; width: 100%; height: 100%;
	display: flex; flex-direction: column; justify-content: flex-end;
}
#wrap .visual-wrap .text-wrap .title{font-size: var(--titleFont);}
#wrap .visual-wrap .text-wrap .text{}



@media all and (min-width:1921px) {
	
}
@media all and (min-width:1181px) and (max-width:1920px) {
	
}
@media all and (min-width:768px) and (max-width:1180px) {

}
@media all and (max-width:767px) {

}