:root{

	/* inner */
	--pd : 30px;
	--pd-l : 30px;
	--pd-r : 30px;

	/* Color */
	--bgColor : #f9f5ea;
	--black : #000;
	--white : #fff;
	
	/* fontSize */
	--titleFont : 120px;

}
@media all and (min-width:1181px) and (max-width:1920px) {
	:root{ 
		
	}
}
@media all and (min-width:768px) and (max-width:1180px) {
	:root{ 
		
	}
}
@media all and (max-width:767px) {
	:root{ 
		--pd : 4.267vw;
		--pd-l : 4.267vw;
		--pd-r : 4.267vw;
	}
}